<div class="text-center p-4 my-5">
 <h1>第二種電気工事士記事詳細</h1>
 <% user = User.find_by(id: @electric_post) %>
 <p>件名： <%= @electric_post.title %></p>
 <p>内容： <%= @electric_post.content %></p>
</div>
<h2 class="text-center">
 <%= link_to "投稿一覧に戻る", electric_posts_path, class: "btn outline btn-primary" %>
</h2>