<%# <div class="text-center"> %>
<div class="form-group row justify-content-center">
  <div class="container">
      <img style="width: 100%; height: auto;" src="/assets/build.jpg"></img>
  </div>
    <br>
  <div class="btn-toolbar p-5">
     <div class="btn-group btn-group-lg mx-5"> 
      <% if user_signed_in? %>
          <%= link_to "マイページへ", pages_show_path, class: "btn outline btn-primary" %>
      <% else %>
          <%= link_to 'アカウント登録', new_user_registration_path, class: "btn outline btn-primary" %>
      <% end %>
    </div>
    <div class="btn-group btn-group-lg mx-5"> 
      <%= link_to 'テストログイン', pages_guest_sign_in_path, method: :post, class: "btn outline btn-primary" %>
    </div>
  </div>
</div>