<div class="text-center p-5">
<h1><br /><%= current_user.username %>さんのアカウント</h1><br />
<% if current_user.image? %>
<img src=<%= current_user.image %> class = "icon_image">
<% else %>
<img src="/assets/build.jpg" class = "icon_image">
<% end %>
<h3><br />ユーザー様用のページです。</h3>
</div>