<h1 class="text-center p-4">投稿一覧</h1>
<div>
<% Post.all.each_with_index do |post, i| %>
  <p><%= i + 1 %>つ目</p>
  <% user = User.find_by(id: post.user_id) %>
   <p><%= user.username %></p>
   <p><%= post.title %></p>
   <p><%= post.content %></p>
<% end %>
</div>