/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 .base-container {
   @extend .container-fluid;
   max-width: var(--breakpoint-lg);
   padding: 30px 100px 100px 30px;
 }
 th,
 td {
   vertical-align: middle !important;
 }

 .break-word {
   word-break: break-word;
 }

 .icon_image {
   width: 200px;
   height: 200px;
   border-radius: 100px;
   object-fit: cover;
 }
 .like-btn {
   width: 25px;
   height: 30px;
   font-size: 25px;
   color: #808080;
   margin-left: 20px;
 }

 .unlike-btn {
   width: 25px;
   height: 30px;
   font-size: 25px;
   color: #e54747;
   margin-left: 20px;
 }
