<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスが変更されています. <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>メールアドレスが変わりました。 <%= @resource.email %>.</p>
<% end %>
