<p>こんにちは、 <%= @resource.email %>!</p>

<p>ログインに何度も失敗した為、アカウントがロックされました。</p>

<p>以下のリンクをクリックしてアカウントのロックを解除してください。</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
